// Note:
// read  = list, get
// write = create, update, delete

// Tests if a requests data object has exactly the provided keys
function dataKeysAre(fields) {
  return request.resource.data.keys().hasAll(fields)
    && request.resource.data.keys().hasOnly(fields); // not what the name hasOnly() suggests. true when all keys() are in fields
}

service cloud.firestore {
  match /databases/{database}/documents {
    
    match /uploads/{upload} {
      allow create: 
        if dataKeysAre(['code', 'message', 'photoUpload', 'photoMetadata', 'location', 'timestamp', 'clientTimestamp'])
        && request.resource.data.photoUpload == 'PENDING'
        && exists( /databases/$(database)/documents/codes/$(request.resource.data.code) );
      
      allow get;
    }
    
    match /stats/stats {
      allow get;
    }
    
    match /paths/paths {
      allow get;
    }
    
    // WARNING: Comment out in production!
    // Uncomment to allow uploading codes and initialize database (via initDatabase()):
    match /codes/{doc} {
      allow write;
    }
    match /paths/paths {
      allow write;
    }
    match /stats/stats {
      allow write;
    }
    
    // WARNING: Comment out in production!
    // Uncomment to allow resetting uploads (via resetUploads()):
    match /uploads/{upload} {
      allow list, delete;
    }
    match /stats/stats {
      allow update;
    }
    
    // WARNING: Comment out in production!
    // Uncomment to allow resetting streams (via resetStreams()):
    // Uncomment to allow adding test data
    match /paths/paths {
      allow update;
    }
    
  }
}
