// Note:
// read  = list, get
// write = create, update, delete

rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      
      // Limit file size to 10 MB
      allow create: if request.resource.size < 1024 * 1024 * 10;
      
      // Only authenticated users can read or write to the bucket
      // && request.auth != null;
      
      // WARNING: Comment out in production!
      // Uncomment to allow resetting uploads (via resetUploads):
      //allow list, delete;
      
    }
  }
}
